<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.3" targetFramework="MonoAndroid60" />
  <package id="Artportalen" version="0.4.83.0" targetFramework="MonoAndroid60" />
  <package id="Autofac" version="3.5.2" targetFramework="MonoAndroid60" />
  <package id="Parse" version="1.6.2" targetFramework="MonoAndroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.0" targetFramework="MonoAndroid60" />
  <package id="Plugin.Permissions" version="1.1.1" targetFramework="MonoAndroid60" />
  <package id="SwedishCoordinates" version="0.1.10.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.0" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.Geolocator" version="3.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.0.1.3" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.3" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.0.1.3" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.0.1.3" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.0.1.3" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Insights" version="1.11.3" targetFramework="MonoAndroid60" />
</packages>